[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
django-extensions = "*"
pydot = "*"
pytz = "*"
tzdata = "*"
django-environ = "*"
python-decouple = "*"
python-dotenv = "*"
pygraphviz = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
