body{
  background-color:aliceblue !important;
  margin: 0;
  padding: 0;
  background: url(image.jpg);
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}

.center{
  position: relative;
  align-items: center;
  text-align: center;
}

.navbar{
  display:flex;
  align-items:baseline;
  margin-top: 20px;
}

.addacenter{
  position: relative;
  margin-left: 30px;
}


.logout{
  position: relative;
  margin-left: 1100px;
}

.login-box{
  width: 320px;
  height: 420px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

h1{
  margin: 0;
  text-align: center;
  font-size: 22px;
}
.login-box p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.login-box input{
  width: 100%;
  margin-bottom: 20px;
}
.login-box input[type="text"], input[type="password"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
.login-box input[type="submit"]
{
  border: none;
  outline: none;
  height: 40px;
  background: #1c8adb;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
.login-box input[type="submit"]:hover
{
  cursor: pointer;
  background: #39dc79;
  color: #000;
}

.login-box a{
  text-decoration: none;
  font-size: 14px;
  color: #fff;
}
.login-box a:hover
{
  color: #39dc79;
}


table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
  padding: 8px;
  text-align:center;
}
th {
  width: 150px; /* Set a fixed width for the table header cells */
}


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

 /* Container for searchbar and searchicon */
 .searchbar{
  position: relative; 
  margin-top: 35px;
}

.searchicon .fa-search{
  color: white;
  
}
/* searchbar */
.searchbar .bar{
  position: relative;
  width: 65%;
  height: 54px;
  box-shadow: 0px 2px 10px rgba(38, 51, 77, 0.05);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: transparent;
}

/* searchbar placeholder */
.bar::placeholder{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.5;
}

/* searchicon */
.searchbar .searchicon{
  position: relative;
  right: 3.5px;
  box-shadow: 0px 2px 10px rgba(38, 51, 77, 0.05);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 68px;
  height: 54px;
  background-color: #000;
  border:transparent;
}