<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="center">
        <form action="../success/success.html">
            Name:<input type="text"><br>
            Address:<textarea></textarea><br>
            Mobile Number:<input type="text"><br>
            Working Hours:<br>From<input type="time"><br>To<input type="time"><br>
            <input type="submit" value="Add">
            <input type="reset">
        </form>
    </div>
</body>
</html>