<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LoginUser</title>
  <link rel="stylesheet" href="{% static 'stylesheet/style.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>


<div class="login-box">
    <h1>Admin Page</h1>
    <form method="POST">
        {% csrf_token %}
            {% if messages%}
            <ul class='messages'></ul>
                {% for message in messages%}
                <li>{{message}}</li>
                {% endfor %}
            </ul>
            {% endif %}
        <p>Username</p>
        <input type="text" class='form-control' name="username" placeholder="Enter Username" required autofocus/>
        <p>Password</p>
        <input type="password" class='form-control' name="password" placeholder="Enter Password" required>
        <input type="submit" value='Sign In'>
    </form>
    
    <div class="adminpage">
        You are a User?
        <a href="{% url 'usersignin' %}"><b>SignIn Here</b></a>
    </div>
</div> 
</body>
</html>