{% extends 'base/adminmain.html' %}



{% block content %}
<div class="text-center">
<div class="name center">
    <h2>Hello {{name}}</h2>
</div>


<div class="searchbar center">
    <form method='GET'>
        <input class="bar" type="text" placeholder="  search for centre's id" name="search">
        <button class="searchicon" type="submit"><i class="fa fa-search fa-lg"  aria-hidden="true"></i></button> 
    </form>
</div>

{% if messages%}
      <ul class='messages'></ul>
        {% for message in messages%}
          <li>{{message}}</li>
          {% endfor %}
      </ul>
{% endif %}

<br>
<h2>Centres</h2>
<br>

<table class='table'>
    <thead>
        <tr>
            <th>Centre ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Mobile</th>
            <th>Working Hours</th>
            <th>Dosage</th>
            <th>Vacancy/day</th>
            <th>Slots/day</th>
            <th>Remove / Modify</th>
        </tr>
    </thead>
    {% for row in rows %}
    <tbody>
        <tr>
            <td>
                <form method="GET">
                    <button class='btn btn-link' name='id' value={{row.id}}>{{ row.id }}</button>
                </form>
            </td>
            <td>{{row.name}}</td>
            <td>{{row.line1}}, {{row.line2}}</td>
            <td>{{row.city}} - {{row.pincode}}</td>
            <td> {{row.mobileno}} </td>
            <td>{{row.whfrom}} to {{row.whto}}</td>
            <td>{{row.dosage}}</td>
            <td>{{row.vacancy}}</td>
            <td>{{row.slots}}</td>      
            <td>
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link" name='remove' value={{ row.id }}>Remove</button> /
                    <a href="modify/{{row.id}}">
                        <input value='Modify' type='button' class="btn btn-link">
                    </a>
                </form>
            </td>
        </tr>
    </tbody>
    {% endfor %}
</table>

</div>

{% endblock content %}