<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="center">
        <form method='GET'>
            Name:<input name='name' type="text" maxlength='50'required/><br>
            Mobile Number:<input name='mobileno' type="text" maxlength='10'required/><br>
            AddressLine1:<input name='line1' type="text" maxlength='50'required/><br>
            AddressLine2:<input name='line2' type="text" maxlength='50'required/><br>
            City:<input name='city' maxlength='50'required/><br>
            pincode:<input name='pincode' maxlength='6'required/><br>
            Working Hours:<br>From<input name='whfrom' type="text" maxlength='7'required/><br>To<input name='whto' type="text" maxlength='7'required/><br>
            <input type="submit" value="Add">
            <input type="reset">
        </form>
    </div>
</body>
</html>