{% extends 'base/adminmain.html' %}

{% block content %}
    <div class="form-signin">
        <h1>Add a Centre</h1>
        <form method='GET'>
            Name:<input name='name' type="text" maxlength='50' class="form-control" required/><br>
            Mobile Number:<input name='mobileno' pattern="[0-9]{10}" type="text" maxlength='10' class="form-control" required/><br>
            AddressLine1:<input name='line1' type="text" maxlength='50' class="form-control" required/><br>
            AddressLine2:<input name='line2' type="text" maxlength='50' class="form-control" required/><br>
            City:<input name='city' maxlength='50' class="form-control" required/><br>
            pincode:<input name='pincode' maxlength='6' pattern='[0-9]{6}' class="form-control" required/><br>
            Dosage: <input name='dosage' pattern="[0-9]" class='form-control' required/><br>
            Vacany: <input name='vacancy' class='form-control' required/><br>
            Slots: <input name='slots' class='form-control' required/><br>
            Working Hours:<br>From<input name='whfrom' type="time" maxlength='8' class="form-control" required/>To<input name='whto' type="time" maxlength='8' class="form-control" required/><br>
            <br>
            <div class="d-flex">
            <input type="submit" value="Add" class="w-100 btn btn-lg btn-success">
            <input type="reset" class="w-100 btn btn-lg btn-danger">
            </div>
        </form>
    </div>
{% endblock content %}