{% extends 'base/adminmain.html' %}

{% block content %}
    <div class="form-signin">
        <h1>Add a Centre</h1>
        <form method='GET'>
            Name:<input name='name' type="text" maxlength='50' class="form-control" required/><br>
            Mobile Number:<input name='mobileno' type="text" maxlength='10' class="form-control" required/><br>
            AddressLine1:<input name='line1' type="text" maxlength='50' class="form-control" required/><br>
            AddressLine2:<input name='line2' type="text" maxlength='50' class="form-control" required/><br>
            City:<input name='city' maxlength='50' class="form-control" required/><br>
            pincode:<input name='pincode' maxlength='6' class="form-control" required/><br>
            Working Hours:<br>From<input name='whfrom' type="time" maxlength='8' class="form-control" required/>To<input name='whto' type="time" maxlength='8' class="form-control" required/><br>
            <br>
            <input type="submit" value="Add" class="w-100 btn btn-lg btn-success">
            <input type="reset" class="w-100 btn btn-lg btn-danger">
        </form>
    </div>
{% endblock content %}