{% extends 'base/adminmain.html' %}

{% block content %}
<div class="text-center">
<h3>This page is for modifing the selected centre with ID {{row.id}} named {{row.name}}</h3>
<h5>Please fill the columns only that you want to modify</h5>
</div>
<div class="form-signin">

    <form method='GET'>
        <b>Name:</b><input name='name' type="text" maxlength='50' class="form-control"/><br>
        <b>Mobile Number:</b><input name='mobileno' type="text" maxlength='10' class="form-control"/><br>
        <b>AddressLine1:</b><input name='line1' type="text" maxlength='50' class="form-control" /><br>
        <b>AddressLine2:</b><input name='line2' type="text" maxlength='50' class="form-control"/><br>
        <b>City:</b><input name='city' maxlength='50' class="form-control" /><br>
        <b>pincode:</b><input name='pincode' maxlength='6' class="form-control" /><br>
        <b>Dosage:</b> <input name='dosage' class='form-control' />
        <i><b>INFO:</b>The above field(dosage) is for adding extra dosage from what is available, not for modifing.
        So, please specify the new stock count only.</i><br>
        <b>Vacany: </b><input name='vacancy' class='form-control' /><br>
        <b>Slots: </b><input name='slots' class='form-control' /><br>
        <b>Working Hours:</b><br>From<input name='whfrom' type="time" maxlength='8' class="form-control"/>To<input name='whto' type="time" maxlength='8' class="form-control"/><br>
        <br>
        <div class="d-flex">
        <input type="submit" value="Modify" class="w-100 btn btn-lg btn-success">
        <a href="{% url 'adminhome' %}">
            <input type="button" value="Back" class="w-100 btn btn-lg btn-danger">
        </a>
        </div>
    </form>
</div>

{% endblock content %}