{% extends 'base/usermain.html' %} 
{% block content %}
<br>


{% if messages%}
      <ul class='messages'></ul>
        {% for message in messages%}
          <li>{{message}}</li>
          {% endfor %}
      </ul>
{% endif %}

<div class="text-center">
    <h3>Booked Vaccinations</h3>
    <h5>You can cancel any upcoming vaccination before the time of  booked slot on a particular date</h5>
    <form method='GET'>
        </div><br>
        <div class="col-sm-4 d-flex align-items-baseline">
            <select class="form-select form-select-lg mb-3" name='filter'>
                <option value="1" {% if filter == "1" %} selected {% endif %} >Today's Bookings</option>
                <option value="2" {% if filter == "2" %} selected {% endif %} >Future Bookings</option>
                <option value="3" {% if filter == "3" %} selected {% endif %} >All Bookings since signup</option>
                <option value="4" {% if filter == "4" %} selected {% endif %} >Vaccinated Bookings</option>
                <option value="5" {% if filter == "5" %} selected {% endif %} >Booked but not vaccinated</option>
            </select>
            <div class="col-sm-4"><button class='btn btn-primary' type="submit">Apply Filter</button></div>
        </div>
    </form>
    


<br>
<table class='table'>
    <thead>
        <tr>
            <th>Entry ID</th>
            <th>Booker's Name</th>
            <th>Booker's Number</th>
            <th>Centre ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Mobile</th>
            <th>Working Hours</th>
            <th>Date</th>
            <th>Slot</th>
            <th>QR</th>
            <th>Cancel</th>
        </tr>
    </thead>
    {% for row in rows %}
    <tbody>
        <tr>
            <td>{{ row.id }}</td>
            <td>{{row.name}}</td>
            <td>{{row.mobileno}}</td>
            <td>{{row.centerid.id}}</td>
            <td>{{row.centerid.name}}</td>
            <td>{{row.centerid.line1}}, {{row.centerid.line2}}</td>
            <td>{{row.centerid.city}} - {{row.centerid.pincode}}</td>
            <td> {{row.centerid.mobileno}} </td>
            <td>{{row.centerid.whfrom}} to {{row.centerid.whto}}</td>
            <td>{{row.entrydate}}</td>
            <td>{{row.slot.f}} - {{row.slot.t}}</td>
            <td>
                <form method="post">
                    <input type="hidden" name="id" value="{{ row.id }}">
                    <button class="btn btn-link"{% if row.slot.cancel.0 %} disabled {% endif %}  >View QR</button>
                </form>
            </td>
            <td>
                <form method="get">
                    <input type="hidden" name="id" value="{{ row.id }}">
                    <input type="hidden" name="filter" value="{{ filter }}"/>
                    <button class="btn btn-link"{% if row.slot.cancel.0 %} disabled {% endif %}  >{{row.slot.cancel.1}}</button>
                </form>
            </td>
        </tr>
    </tbody>
    {% endfor %}
</table>
</div>
{% endblock content %}