{% extends 'base/usermain.html' %}

{% block content %}

{% if messages%}
      <ul class='messages'></ul>
        {% for message in messages%}
          <li>{{message}}</li>
          {% endfor %}
      </ul>
{% endif %}

<h2>Showing the available slots and dates for the selected centre</h2>
<h3>Name: {{row.name}} with ID: {{row.id}}</span></h3>

<div>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Vacancy</th>
                <th>Slots</th>
                <th>Confirm</th>
            </tr>
        </thead>
        {% for i in details %}
        <tbody>
            <tr>
                <td>{{ i.0 }}</td>
                <td>{{ i.1 }}</td>
                <form method='GET'>
                    <td>
                        <select id='slot' name='slot'>
                            {% if i.2.0%}
                            <option value='{{0}}'>{{row.whfrom}} - {{row.slot1}}</option>
                            {% endif %}
                            {% if i.2.2%}
                            <option value='{{1}}'>{{row.slot1}} - {{row.slot2}}</option>
                            {% endif %}
                            {% if i.2.2%}
                            <option value='{{2}}'>{{row.slot2}} - {{row.whto}}</option>
                            {% endif %}
                        </select required>
                    </td>
                    <input type="hidden" name="date" value="{{i.0}}"/> 
                    <td>
                        <button name="date" value="{{i.0}}" type='submit'>Confirm</button>
                    </td>
                </form>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
<br>
<div class="text-center">
    <a href='{% url 'userhome' %}'>
        <button class="w-100 btn btn-lg btn-info">Back</button>
    </a>
</div>
</div>

{% endblock content %}