{% extends 'base/usermain.html' %} 
{% block content %}
<br>
<h1>Booked Centres</h1>

<h2>Filter</h2>
<form  method='GET'>
    <select class="form-select" name='filter' aria-label="Default select example">
        <option value='1' selected>Today's upcoming Bookings</option>
        <option value="2">Future Bookings</option>
        <option value="3">All Bookings since signup</option>
    </select>
    <button type="submit">Apply Filter</button>
</form>
<table>
    <thead>
        <tr>
            <th>Entry ID</th>
            <th>Centre ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Mobile</th>
            <th>Working Hours</th>
            <th>Date</th>
            <th>Slot</th>
        </tr>
    </thead>
    {% for row in rows %}
    <tbody>
        <tr>
            <td>{{ row.id }}</td>
            <td>{{row.centerid.id}}</td>
            <td>{{row.centerid.name}}</td>
            <td>{{row.centerid.line1}}, {{row.centerid.line2}}</td>
            <td>{{row.centerid.city}} - {{row.centerid.pincode}}</td>
            <td> {{row.centerid.mobileno}} </td>
            <td>{{row.centerid.whfrom}} to {{row.centerid.whto}}</td>
            <td>{{row.entrydate}}</td>
            <td>{{row.slot.f}} - {{row.slot.t}}</td>

        </tr>
    </tbody>
    {% endfor %}
</table>

{% endblock content %}