{% extends 'base/usermain.html' %}

{% block content %}

<h2>Showing the available slots and date for the centre</h2>
<h3>Named {{row.name}} with ID: {{row.id}}</span></h3>
<div class="form-signin">
    <form method='GET'>
        <label for="slot">Available Slots</label>
            
        <select class="form-control" id='slot' name='slot'>
            {% if slots.0%}
            <option value='{{0}}'>1:{{row.whfrom}} - {{row.slot1}}</option>
            {% endif %}
            {% if slots.1%}
            <option value='{{1}}'>2:{{row.slot1}} - {{row.slot2}}</option>
            {% endif %}
            {% if slots.2%}
            <option value='{{2}}'>3:{{row.slot2}} - {{row.whto}}</option>
            {% endif %}
            
        </select required>
        <br>
        <label for="date">Available Dates</label>
        <input type="date" id="date" name="date" min="{{mini}}" max="{{maxi}}" value="{{mini}}" required>
        <br><br>
        <button type='submit' class="w-100 btn btn-lg btn-success">Confirm</button>
       
    </form>
    <a href='{% url 'userhome' %}'>
        <button class="w-100 btn btn-lg btn-info">Back</button>
    </a>
</div>

{% endblock content %}