{% extends 'base/usermain.html' %}



{% block content %}

<div class="text-center">

<div class="name">
    <h2>Hello {{name}}</h2>



<div class="searchbar">
    <form method='GET'>
        <input class="bar" type="search" placeholder="  search for center's id, name, mobileno, address, city or pincode" name="search">
        <button class="searchicon" type="submit"><i class="fa fa-search fa-lg"  aria-hidden="true"></i></button> 
    </form>
</div>
</div>
{% if messages%}
      <ul class='messages'></ul>
        {% for message in messages%}
          <li>{{message}}</li>
          {% endfor %}
      </ul>
{% endif %}

<h2>Centres</h2>

<div class='text-center'>
<h6><b>INFO: </b>You can only book upto 4 vaccine for a particular center on a particular date.<br> You can book for the slots from today upto 1 week.</b></h6>
</div>
<div>
    <table class='table'>
        <thead>
            <tr>
                <th>Centre ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>Mobile</th>
                <th>Working Hours</th>
                <th>Dosage</th>
                <th>Select</th>
            </tr>
        </thead>
        {% for row in rows %}
        <tbody>
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.name }}</td>
                <td>{{ row.line1 }}, {{ row.line2 }}</td>
                <td>{{ row.city }} - {{ row.pincode }}</td>
                <td>{{ row.mobileno }}</td>
                <td>{{ row.whfrom }} to {{ row.whto }}</td>
                <td>{{ row.dosage }}</td>
                <td class='row'>
                    {% if row.dosage > 0 %}
                    <div class="d-flex">
                        <form method='POST' class='col'>
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ row.id }}">
                            <button type='submit' name='myself' value=1 class='btn btn-link'>Myself</button>
                        </form>
                        <div class="col">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-{{ row.id }}" aria-expanded="false" aria-controls="collapse-{{ row.id }}">
                            Other Users
                            </button>
                        </div>
                    </div>
                    {% else %}
                        <button class='btn btn-link' disabled>No Vaccine</button>
                    {% endif %}
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td colspan="9">
                    <div class="collapse" id="collapse-{{ row.id }}">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="form-group col">
                                    <input type="text" class="form-control col-2" name="name" placeholder="Name" required>
                                </div>
                                <div class="form-group col">
                                    <input type="text" class="form-control" name="mobileno" maxlength='10' placeholder="Mobile Number" required>
                                </div>
                                <div class="form-group col">
                                    <input type="text" class="form-control" name="age" maxlength='2' placeholder="Age" required>
                                </div>
                                <div class="form-group col">
                                    <input type="text" class="form-control" name="gender" placeholder="Gender" maxlength="1" required>
                                </div>
                                <div class="form-group col">
                                    <input type="text" class="form-control" name="bloodgroup" placeholder="Blood Group" maxlength='3' required>
                                </div>
                                <input type="hidden" name="id" value="{{ row.id }}">
                                <div class="form-group col">
                                    <button type='submit' name='myself' value=0 class='btn btn-success'>Next</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
        </tbody>
    {% endfor %}


    </table>
</div>
</div>
{% endblock content %}