<div class="navbar">
    <div class="home">
        <a href="{% url 'userhome' %}" style='color:black'>
            <h2>Home</h2>
        </a>
    </div>

    <div class="todaybookings">
        <a href="{% url 'todaybookings' %}">
            <h3>Today's Bookings</h3>
        </a>
    </div>

    <div class="futurebookings">
        <a href="{% url 'futurebookings' %}">
            <h3>Future Bookings</h3>
        </a>
    </div>

    <div class="allbookings">
        <a href="{% url 'allbookings' %}">
            <h3>All Bookings</h3>
        </a>
    </div>

    <div class="logout">
        <a href="{% url 'userlogout' %}">
            <h4>Logout</h4>
        </a>
    </div>
</div>

<hr>